#   Ignore files in any directory
**/bench.data
**/*.cfg
**/*.swp
**/.DS_Store

#   Ignore resulting binaries inside samples
samples/*/Assertingwl-mTLS/bin/*
samples/*/m-tier/bin/*
samples/*/target-wl/bin/*
samples/*/subject_workload/bin/*
